#outer-container{
    width: 600px;
    height: 500px;
    border: 1px solid black;
    display: flex;
    /* align-items: flex-end; */ /*change vertically.*/
    align-items: center;
    
    /* justify-content: end; */
    justify-content: center;
}

.inner-container{
    width: 100px;
    height: 100px;
    border: 1px solid red;
    margin: 5px;
    background-color: rgb(205, 50, 151);
    /* display: inline-block; */
}